.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  margin-top: 42px;
  margin-bottom: 42px;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.introduction{
  margin-top: 50px;
  margin-bottom: 50px;
}

.introduction__img{
  height: auto;
  width: 200px;
}

.gradiant__text{
  font-size: 300%;
  font-weight: bold;
  background: -webkit-linear-gradient(#E84E27, #f8a902);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
